* {
  padding: 0px;
  text-align: center;
}


body {
  background-color: #18191c;
  font-family: 'Quicksand', 'Montserrat', sans-serif;
  color: #e8e8e8;
  user-select: none; /*Google Chrome, Opera*/
  -webkit-user-select: none; /*Safari*/
  -webkit-touch-callout:none; /*IOS Safari*/
  -khtml-user-select: none; /*Konqueror HTML*/
  -moz-user-select: none; /*Mozila Firefox*/
  -ms-user-select: none; /*Internet Explorer, Microsoft Edge*/
}

footer {
  width: 100%;
  height: 50px;
  background: #303036;
  overflow: hidden;
  transform: translateY(+10px) scale(1.008);
}

a {
  text-decoration: underline;
  color: #03dffc;
}

.left-align {
  text-align: left;
  align-items: left;
  align-self: left;
  align-content: left;
}

.right-align {
  text-align: right;
  align-items: right;
  align-self: right;
  align-content: right;
}

.tequbuttons {
  text-align: center;
  margin-bottom: 30px;
}

.tequbuttons a {
  font-size: 24px;
  text-decoration: none;
  color: #e8e8e8;
  background: #10131c;
  border: 1px solid #10131c;
  margin-left: 20px;
  margin-right: 20px;
  padding: 6px;
  border-radius: 10px;
  transition: 0.2s;
}

.tequbuttons a:hover {
  color: red;
  background-image: red;
  box-shadow: 0 0 10px red;
  text-shadow: 0 0 20px red;
  border: 1px solid #730202;
  transition: 0.2s;
}

.tequadoavatar {
  width: 30%;
  height: 30%;
  border-radius: 50%;
  display: block;
  margin: 50px auto 50px auto;
  animation: shadow-change 10s infinite;
}

.faq-field {
  marin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 680px;
  border-radius: 10px;
  height: auto;
  background: #303036;
  padding-bottom: 25px;
  user-select: text;
  -webkit-user-select: text;
  -webkit-touch-callout:text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
}

.faq-field h3 {
  padding-top: 10px;
  font-size: 30px;
}

.faq-window {
  width: 90%;
  margin-left: 25px;
  font-size: 20px;
}

.faq-window i {
  font-size: 24px;
}

.translatorlist {
  display: flex;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
  justify-content: center;
  user-select: text;
  -webkit-user-select: text;
  -webkit-touch-callout:text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
}

.trwindow {
  width: 350px;
  height: auto;
  border-radius: 25px;
  background: #18191c;
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 5px;
  padding-left: 10px;
  text-align: center;
}

.trwindow h3 {
  margin-top: 5px;
  margin-bottom: 0px;
  font-size: 26px;
}

.trwindow p {
  font-size: 24px;
}

.loTag {
  color: #4dff82;
  text-shadow: 0px 0px 25px #4dff82;
}

.edTag {
  color: #9027db;
  text-shadow: 0px 0px 25px #9027db;
}

.peAvatar {
  width: 35px;
  height: 35px;
  border-radius: 20px;
  transform: translate(-25%, +25%);
  margin-top: -18px;
}

.idiotTar:hover {
  transform: scale(3);
  z-index: 100;
  animation: 120s idiotAvatar infinite;
}

.translationStatus {
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  background: #303036;
  padding-bottom: 30px;
  width: 90%;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 10px;
  user-select: text;
  -webkit-user-select: text;
  -webkit-touch-callout:text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
}

.translationStatus h3 {
  padding-top: 10px;
  font-size: 30px;
}

.allStatuses {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  transform: translateY(-25px);
}

.statusWindow {
  margin: 35px;
  transform: scale(1.2);
  width: 350px;
  height: 125px;
  background: #18191c;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 2px;
  border-radius: 15px;
}

.statusWindow:hover, .trwindow:hover{
  background: #43434d;
}

.statusWindow h4 {
  text-align: left;
}

.statusWindow p {
  padding-top: 5px;
  margin-bottom: 0px;
  text-transform: capitalize;
}

.progress-bar {
  width: 100%;
  height: 20px;
  padding: 2px;
  border-radius: 15px;
  background: #e8e8e8;
  margin-bottom: 20px;
}

.progress {
  background: #4dff82;
  border-radius: 15px;
  height: 100%;
}

.engProgress {
  width: 100%;
}

.ruProgress {
  width: 89%;
}

.uaProgress {
  width: 89%;
}

@keyframes shadow-change {
  0% {
    filter: drop-shadow(0px 0px 10px #18191c);
  }
  50% {
    filter: drop-shadow(0px 0px 10px red);
  }
  100% {
    filter: drop-shadow(0px 0px 10px #18191c);
  }
}

@keyframes idiotAvatar {
  0% {
    transform: rotate(0deg) scale(3)
  }
  100% {
    transform: rotate(100000deg) scale(3)
  }
}
